


.checkbox-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #9099a2;
    overflow:auto;
    background:#d5d5d5;
}

.checkbox-button:hover {
    background:#9099a2;
    border:1px solid #96858f;
}

.checkbox-button label {
    float:left;
    width:100%;
    margin: 0px;
}

.checkbox-button label span {
    text-align:center;
    padding:10px 0px;
    display:block;
}

.checkbox-button label input {
    position:absolute;
    top:-20px;
    display: none;
}

.checkbox-button input:checked + span {
    background-color:#6d7993;
    color:#fff;
}

.marginedtop30 {
    margin-top: 30px;
}

#page-wrapper.nomargin {
    margin: 0;
}

.chartpageheader 
 {
    padding: 20px 0 20px 0;
    font-size: 25px;
 }

.checkboxtext {
    margin-left: 10px;
    color: #262626;
}

.clienttheme .checkboxtext {
    margin-left: 10px;
    color: #262626;
}

.clienttheme .checkbox input[type=checkbox]:checked + .checkbox-material .check, 
.clienttheme label.checkbox-inline input[type=checkbox]:checked + .checkbox-material .check {
    color: #FBD32A;
    border-color: #FBD32A;
}

.clienttheme .checkbox input[type=checkbox]:checked + .checkbox-material .check:before,
.clienttheme label.checkbox-inline input[type=checkbox]:checked + .checkbox-material .check:before {
    color: #FBD32A;
}

.clienttheme .checkbox {
        margin-bottom: 20px;
 }

.clienttheme.dasshboardwrapper {
    background-color: #008D94;
}


/*Chart related*/

.nv-lineChart circle.nv-point
{
    fill-opacity: 1;
}

.clienttheme .nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
    fill-opacity: 1;
    stroke-opacity: 1;
}

/*chart related*/