<div class="row">
    <div *ngFor="let chartModel of charts">
      
        <div [ngClass]="{ 'col-lg-6' : charts.length > 3 || isComparisonView, 'col-lg-12' : charts.length <= 3  }" >
            <div class="panel clienttheme panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> {{chartModel.name}}
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                               
                                <span class="fa arrow"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a (click)="printThisDiv($event)" href="#">Print</a>
                                </li>
                             
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <template [ngIf]="chartModel.chartRenderType !='lineAndBar'">
                        <d3chart [chart]="chartModel">

                        </d3chart>
                    </template>
                    <template [ngIf]="chartModel.chartRenderType =='lineAndBar'">
                        <highchart_chart  [chart]="chartModel">

                        </highchart_chart>
                    </template>
                </div>
            </div>
            <!-- /.panel-body -->

        </div>
    </div>
</div>