<div class="row">
    <div *ngFor="let chartModel of charts;let idx = index">
      
        <div [ngClass]="{ 'col-lg-6' : charts.length > 3 || isComparisonView, 'col-lg-12' : charts.length <= 3  }" >
            <div class="panel clienttheme panel-default">
                <div class="panel-heading">
                    <i  class="fa fa-bar-chart-o fa-fw"></i> <span attr.data-print="1-Chart Name"> {{chartModel.name}} </span>
                    <div class="pull-right">
                        <div class="btn-group">
                            
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal fade" (click)="show('#dialog-' + idx)" >View</button>
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="fa arrow"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a attr.data-print-target (click)="printThisDiv($event)" href="#">Print</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                
                    <highchart_chart [chart]="chartModel">

                    </highchart_chart>
                    
                  
                   
                </div>
            </div>
           
        </div>
        
        <div id="dialog-{{idx}}" class="modal" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" (click)="hide('#dialog-' + idx)" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">{{chartModel.name}}</h4>
                    </div>
                    <div class="modal-body" >
                        <highchart_chart [chart]="chartModel">

                        </highchart_chart>
                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <canvas style="position: absolute; left: -800px; top:-800px" id="img-out"></canvas>
   
   

</div>