<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="data source=.\sqlexpress;initial catalog=DashboardPlatform;persist security info=True;user id=sa;password=tiger1@clipper2; App=EntityFramework" />
  </connectionStrings>
</configuration>