<div class="row">
    <div class="col-lg-12">
        <h3>Home > Overall</h3>
    </div>
</div>

<div class="row">

    <div class="col-lg-8">
        
        <chart-container  >Loading...</chart-container>
        <!--<router-outlet>

        </router-outlet>-->

    </div>

    <div class="col-lg-4">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Filters
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs">
                                    <span class="caret"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label>Select Cut</label>
                            <ng-select [allowClear]="false"
                                       (selected)="splitSelected($event)"
                                       [initData]="[selectedSplit]"
                                       #dropdownCut
                                       [items]="splits"
                                       placeholder="Select Cut">
                            </ng-select>
                        </div>
                        
                        recenciesTypes

                        <div class="form-group">
                            <label>Time Period</label>
                            <ng-select 
                                        #dropdownRecencyType
                                       [allowClear]="false"
                                       [items]="recenciesTypes"
                                       [initData]="[selectedRecencyType]"
                                       (selected) ="recencyTypeSelected($event)"
                                       placeholder="">
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label>Select Data Points</label>
                            <!--<select multiple class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>-->
                            <ng-select [allowClear]="false" #dropdownRecency
                                       [items]="recencies"
                                       [multiple]="true"
                                       (selected)="recencySelected($event)"
                                       placeholder="">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> {{multipleSplitField}}
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs">
                                    <span class="caret"></span>
                                </button>

                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="checkbox-button" *ngFor="let splitFilter of splitFilters">
                            <label>
                                <input (change)="limitSelected(splitFilter, $event.target.checked)"  type="checkbox"  [(ngModel)]="splitFilter.IsSelected"><span>{{splitFilter.Answer}}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>