<div class="clienttheme dasshboardwrapper" >
    <nav class="navbar navbar-default navbar-clienttheme" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">OPTUS DASHBOARD</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div *ngIf="productViews" class="navbar-default sidebar clienttheme" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" #sideMenu id="side-menu">

                    <li class="sidebar-search chartpageheader">
                        <div>
                            Select View
                        </div>
                        <!-- /input-group -->
                    </li>

                    <li *ngFor="let productView of productViews ; let last=last">
                        <template [ngIf]="productView.Children.length > 0">
                            <a routerLinkActive='active' [routerLink]="[productLink, productView.Id]"><i class="fa fa-dashboard fa-fw"></i>{{productView.DashboardView.Name}} <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li *ngFor="let childView of productView.Children ">
                                    <a routerLinkActive='active' [routerLink]="[productLink,childView.Id]">{{childView.DashboardView.Name}}</a>
                                </li>
                            </ul>
                        </template>
                        <template [ngIf]="productView.Children.length == 0">
                            <a routerLinkActive='active' [routerLink]="[productLink,productView.Id]"><i class="fa fa-dashboard fa-fw"></i>{{productView.DashboardView.Name}}</a>
                        </template>
                        <span *ngIf='last'>{{onListRendered()}}</span>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>

    </nav>

    <div id="page-wrapper" [ngClass]="{nomargin: !productViews}">

        <!--<chart-with-filtersx>

        </chart-with-filtersx>-->

        <router-outlet></router-outlet>

    </div>
</div>